[Desktop Entry]
Type=Application
Name=xplr
Comment=Launches the xplr file manager
Terminal=true
Exec=xplr %U
Icon=xplr
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
Keywords=File;Manager;Browser;Explorer;Launcher
# Hidden=false
# DBusActivatable=true
